.view-pc {
    display: block;
}

.view-movile {
    display: none;
}

.logo_header {
    width: 280px;
}

/*  TITLES  */
.ara_title{
    text-transform: uppercase; 
    text-align:center; 
    padding: 10px 0px 25px 0px; 
}

.ara_title_white{
    text-transform: uppercase; 
    text-align:center; 
    color: #fff;
    padding: 10px 0px 25px 0px; 
}


.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -7px;
    left: 15px;
    background-color: #e30613;
    color: #ffffff;
    border-radius: 50%;
    /* Para hacer un círculo */
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.initials-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%; /* Esto crea la forma circular */
    background-color: #007bff; /* Color de fondo, cámbialo a tu gusto */
    color: white;
    font-weight: bold;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
}

@media (max-width: 420px) {
    .logo_header {
        width: 150px;
    }
}

.title_aracode {
    color: #575756;
    text-align: center;
}

.title_aracode:is(.dark *) {
    color: #a3adc2;
}

.dolartitle_aracode {
    color: #747682;
    text-align: center;
}

.dolartitle_aracode:is(.dark *) {
    color: #a3adc2;
}
/* -------------ACORDEON-------------- */

.accordion-aracode {
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
}
.accordion-aracode:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.accordion-item-aracode {
    border-bottom: 1px solid #ddd;
}
.accordion-item-aracode:last-child {
    border-bottom: none;
}
.accordion-header-aracode {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    /* background-color: #007BFF; */
    /* background-color: #3c4a99; */
    background-color: #575756;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.3s;
    position: relative;
}

.accordion-header-aracode.active {
    /* background: linear-gradient(45deg, #4f46e5, #575756); */
    background: linear-gradient(45deg, #e30613, #575756);
}

.accordion-header-aracode:is(.dark *) {
    background-color: #1d273a;
}
.accordion-header-aracode:hover {
    background: linear-gradient(45deg, #e30613, #575756);
}
.accordion-content-aracode {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    /* background-color: #f9f9f9; */
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}
.accordion-content-aracode p {
    margin: 5px 0;
}
.accordion-icon-aracode {
    margin-right: 10px;
    transition: transform 0.3s;
}
.accordion-header-aracode.active .accordion-icon-aracode {
    transform: rotate(90deg); /* Rota el icono cuando está activo */
}
.list-item-aracode {
    display: flex;
    align-items: center;
    padding: 5px;
}
.list-icon-aracode {
    margin-right: 10px;
    color: #e30613;
}

/* -------------BOTON DEGRADADO-------------- */

.boton-degradado-primary {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #575756, #e30613);
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-primary:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #e30613, #575756);
}

.boton-degradado-secundary {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #d1d5dc, #e9eef5);
    color: #575756;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-secundary:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #e9eef5, #d1d5dc);
}

.boton-degradado-campus {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #e30613, #575756);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-campus:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #575756, #e30613);
}

.boton-degradado-courses {
    width: 100%;
    padding: 12px 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #e30613, #575756);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-courses:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #575756, #e30613);
}

.boton-degradado-info {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #d1d5dc, #e9eef5);
    color: #575756;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-info:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #e9eef5, #d1d5dc);
}

.boton-degradado-transferencia {
    width: 100%;
    height: 60px;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #e30613, #575756);
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-transferencia:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #4f46e5, #575756);
}

.boton-degradado-trash {
    width: 50%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #575756, #4f46e5);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.boton-degradado-trash:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #575756, #e30613);
}

@media (min-width: 1700px) {
}

@media (max-width: 1600px) {
    /* Boxed */
    .view-pc {
        display: none;
    }

    .view-movile {
        display: block;
    }
}
